[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
"beautifulsoup4" = "*"
feedparser = "*"
attrs = "*"
pendulum = "*"
ipdb = "*"
pytz = "*"
"flake8" = "*"
aiotg = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.6"
